.blog-page-wrap {
  background: $mainLight;
  padding: 1em 0;
  .card {
    margin-bottom: 30px;
  }
  h2 {
    margin: 0.5em;
    line-height: 1.1;
  }
  ul.post-tags {
    padding: 0;
    display: inline-flex;
    list-style: none;

    li {
      margin-right: 10px;
    }
  }
}
