.sidebar {
  .card-title {
    text-transform: capitalize !important;
    color: rgba(0, 0, 0, 0.5);
  }
  .card {
    &:hover {
      .card-title {
        a {
          text-decoration: underline;
        }
      }
    }
    .card-title {
      a {
        font-family: "Courier New", Courier !important;
        color: var(--mainBrown);
        line-height: 1.2;
      }
    }
  }
  .recent-posts-wrap {
    padding: 1.25rem;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
}

.author-social-links {
  ul {
    display: inline-flex;

    li {
      margin: auto 7px;

      a {
        transition: all 0.1s ease-out;
        color: #ccc;

        &.instagram:hover {
          color: #e95950;
        }
        &.facebook:hover {
          color: rgb(66, 103, 178);
        }
        &.twitter:hover {
          color: rgb(56, 161, 243);
        }
        &.google:hover {
          color: rgb(221, 75, 57);
        }
        &.linkedin:hover {
          color: rgb(0, 119, 181);
        }
      }
    }
  }
}
